{% extends 'home/base.html' %}

{% block content %}
  <div class="login-container">
    <h2>Faculty Login</h2>
{% comment %} 
    <form method="POST">
      {% csrf_token %}
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Login</button>
    </form> {% endcomment %}
    <form method="POST" action="{% url 'faculty_login' %}">
      {% csrf_token %}
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Login</button>
  </form>
    {% if messages %}
      <div>
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}